body {
    background: #f5d9d5;
    font-family: 'Nunito Sans', sans-serif;
}

h2 {
    font-size: 2.5rem;
}

.caps {
    text-transform: uppercase;
    font-weight: 100;    
}
.red {
    color: #ea1c2c;
}

.pink-text {
    color: #f498b8;
    font-weight: 100;
    font-size: 1.125rem;
    line-height: 2;
}
.content-spacing {
    margin-top: 100px;
}
.contact-link {
    text-decoration: none;
}
.contact-link:hover {
    color: #ea1c2c;
}

#mainNavBar {
font-size: 1.5rem;
font-weight: 100;

}

#mainNavBar .nav-link {
color: #ffffff;
}

#mainNavBar .nav-link:hover {
    color: #ea1c2c;
}

#mainNavBar .navbar-brand {    
    font-size: 1.5rem;
}

#headingGroup h1 {
        font-size: 4rem;
}


/*Scale h1 for smaller screens*/
@media (max-width: 1200px){
    #headingGroup h1 {
        font-weight: 100;
        font-size: 3rem;
    }
}