body {
    background: #f5d9d5;
    font-family: 'Nunito Sans', sans-serif;
}

#mainNavBar {
font-size: 1.5rem;
font-weight: 100;

}

#mainNavBar .nav-link{
color: #ffffff;
}

#mainNavBar .nav-link:hover {
    color: #ea1c2c;
}

#mainNavBar .navbar-brand {
    color: #ea1c2c;
    font-size: 1.5rem;
}
#headingGroup span {
    color: #ea1c2c;
}

#headingGroup h1 {
    font-weight: 100;
    font-size: 4rem;
}

.caps{
    text-transform: uppercase;    
}

/*Scale h1 for smaller screens*/
@media (max-width: 1200px){
    #headingGroup h1 {
        font-weight: 100;
        font-size: 3rem;
    }
}